@import "./variables";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/button/mdc-button";
@import "@material/select/mdc-select";
@import "@material/floating-label/mdc-floating-label";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/textfield/mdc-text-field";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/radio/mdc-radio";
@import "@material/data-table/mdc-data-table";
@import "@material/dialog/mdc-dialog";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.crane-button {
  $mdc-theme-primary: $crane-primary-color;
}

.crane-label {
  order: -1;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.crane-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  margin-top: 8px;
  padding: 12px;
  font-size: 1.1rem;
}

.label__checkbox {
  line-height: 38px;
}

.content {
  display: none;
}

.content--active {
  display: block;
}
