.app {
  background: #f1f1f1;
  display: grid;
  grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
}

.cabecalho {
  align-items: center;
  display: flex;
  grid-area: cabecalho;
  padding: 0 2rem;
}

.menu__link {
  color: #333333;
  padding: 0.5rem 1rem;
}

.menu__link:hover,
.menu__link.ativo {
  border-bottom: 2px solid #0073e6;
}

.conteudo {
  grid-area: conteudo;
  padding: 0 2rem;
}

.rodape {
  background: #fdfdfd;
  color: #333333;
  font-size: 0.8rem;
  grid-area: rodape;
  padding: 1rem;
  text-align: center;
}
